<table width="100%">
  <tr>
    <td valign="top">
      <h1 class="marginbottom10">用户</h1>
      <table class="data width100 sortable" id="users">
        <thead>
          <tr>
            <th class="left">登录名</th>
            <th class="left">用户名</th>
            <th class="left nosort">用户组</th>
            <th class="left nosort" nowrap>操作</th>
          </tr>
        </thead>
        <tbody >
          <% @users.each do |user|%>
            <% clazz = cycle("even", "odd", :name => 'index_user') %>
            <tr id="user-<%= u user.login -%>">
              <td class="left" valign="top"><%=user.login %></td>
              <td class="left" valign="top"><%=user.name %></td>
              <td class="left" valign="top">
                <%= user.groups.sort.map(&:description).join(', ') %> 
                (<%= link_to "选择", 
                 {:action => 'select_group', :id => user.id}, 
                 :id => "select-#{u user.login}" %>)
 
               </td>
              <td class="left" valign="top">
                <%= link_to "修改", edit_user_path(user) %> |
                <%= link_to "删除", user, :confirm => "提示 : 是否要删除该用户 ?", :method => :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <script>TableKit.Sortable.init('users');</script>
    </td>
    <td class="sep"> </td>
    <td valign="top" align="right" width="210">
        <%
        action_name = 'create'
        title='新增用户'
        if @user.id
          action_name = 'update'
          title='修改用户'
        end
         %>
    <% form_for :user, @user, :url => { :id => @user.id, :action => action_name}, :html => { :method => @user.id.nil?? :post : :put } do |f| %>
      <table class="admintable" width="100%">
        <tr>
            <td class="left" valign="top"><h1><%= title %></h1></td>
          </tr>
        <tr>
          <td class="left" valign="top">登录*:
            <% if @user.id %>
              <%= @user.login %>
              <%= f.hidden_field :login %>

            <% else %>
              <br/><%= f.text_field :login, :size => 30, :maxLength => 40 %>
            <% end %>
          </td>

        </tr>
        <tr>
          <td class="left" valign="top">用户名:<br/><%= f.text_field :name, :size => 30, :maxLength => 200 %></td>
        </tr>
        <tr>
          <td class="left"  nowrap="nowrap" valign="top" colspan="2">
            <%= submit_tag @user.id.nil?? '新建':'修改' %>
            <%= link_to '取消', { :controller => 'users', :action => 'index'}, { :class => 'action' } %><br/>
          </td>
        </tr>

      </table>
        <% end %>
    </td>
  </tr>
</table>
