<% title='test charts' %>
<% metric='function_complexity_distribution' %>

<div id="chart_<%=metric -%>" class="chart" style="display: block">
<%
   query="ck=distbar&c=777777&v=0%3D5%3B1%3D22%3B2%3D2|0%3D7%3B1%3D15%3B2%3D4"
   small_size_query=query + '&w=220&h=100&fs=8&bgc=ffffff'
   big_size_query=query + '&w=300&h=150&fs=12&bgc=CAE3F2'
%><%= chart(small_size_query, :id => 'chart_img_' + metric  , :alt => 'test charts') -%>

  <script type='text/javascript'>
  //<![CDATA[
  new Tip('chart_img_<%=metric-%>', '<div style="width:300px;"><b><%= title -%></b><br>'+
    '<%= chart(big_size_query, :id => 'chart_img_' + metric, :alt => title) -%></div>');
  //]]>
  </script>
</div>
